body {
  background-color: #D8E9E3;
}

.container {
max-width: 400px;
margin-top: 40px;
margin: 0 auto;
padding: 20px;
background-color: #9ed1be;
border-radius: 15px;
border-color: rgb(0, 92, 84);
border-width: 1px;
}


.panorama-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  margin-top: 20px; 
  margin-right: 40px;
}

.panorama-image {
  display: inline-block;
}

.annotations-wrapper {
  position: absolute;
  top: 20px; 
  left: 5px; 
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  max-width: 202px;
  padding: 15px;
  background-color: #A8D2C4;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(28, 72, 68);
  border-width: 1px;
}

.annotations-wrapper ul{
  align-items: left;
}

#add-annotation-form {
padding-top: 0;
padding-bottom: 0;
transition-property: center;
text-align: center;
margin-bottom: 0;
}

.annotation-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  margin-top: 40px;
  max-width: 1100px;
  padding: 10px;
  background-color: #A8D2C4;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(28, 72, 68);
  border-width: 1px;
}

.delete_btn {
  background-color: #8f9f9f;
  border-radius: 5px;
  box-shadow: rgba(130, 17, 17, 0.2) 0 -25px 18px -14px inset,rgba(187, 44, 44, 0.15) 0 1px 2px,rgba(120, 5, 5, 0.15) 0 2px 4px,rgba(160, 160, 160, 0.15) 0 4px 8px,rgba(116, 116, 116, 0.15) 0 8px 16px,rgba(8, 8, 8, 0.15) 0 16px 32px;
  color: rgba(29, 27, 27, 0.845);
  cursor: pointer;
  display: inline-block;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  border-color: rgb(28, 72, 68);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete_btn:hover{
  box-shadow: rgba(234, 64, 64, 0.851) 0 -25px 18px -14px inset,rgba(86, 78, 78, 0.25) 0 1px 2px,rgba(121, 103, 103, 0.25) 0 2px 4px,rgba(40, 1, 1, 0.25) 0 4px 8px,rgba(169, 169, 169, 0.25) 0 8px 16px,rgba(60, 59, 59, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.submit_btn {
  background-color: #BFEACD;
  border-radius: 5px;
  box-shadow: rgba(5, 109, 52, 0.2) 0 -25px 18px -14px inset,rgba(7, 63, 28, 0.15) 0 1px 2px,rgba(34, 131, 86, 0.15) 0 2px 4px,rgba(160, 160, 160, 0.15) 0 4px 8px,rgba(116, 116, 116, 0.15) 0 8px 16px,rgba(8, 8, 8, 0.15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  border-color: rgb(28, 72, 68);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; 
}

.submit_btn:hover{
  box-shadow: rgba(2, 44, 27, 0.35) 0 -25px 18px -14px inset,rgba(65, 65, 65, 0.25) 0 1px 2px,rgba(111, 111, 111, 0.25) 0 2px 4px,rgba(177, 177, 177, 0.25) 0 4px 8px,rgba(169, 169, 169, 0.25) 0 8px 16px,rgba(60, 59, 59, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.add_btn{
  background-color: #BFEACD;
  border-radius: 5px;
  box-shadow: rgba(5, 109, 52, 0.2) 0 -25px 18px -14px inset,rgba(7, 63, 28, 0.15) 0 1px 2px,rgba(34, 131, 86, 0.15) 0 2px 4px,rgba(160, 160, 160, 0.15) 0 4px 8px,rgba(116, 116, 116, 0.15) 0 8px 16px,rgba(8, 8, 8, 0.15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  border-color: rgb(28, 72, 68);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
}

.add_btn:hover{
  box-shadow: rgba(2, 44, 27, 0.35) 0 -25px 18px -14px inset,rgba(65, 65, 65, 0.25) 0 1px 2px,rgba(111, 111, 111, 0.25) 0 2px 4px,rgba(177, 177, 177, 0.25) 0 4px 8px,rgba(169, 169, 169, 0.25) 0 8px 16px,rgba(60, 59, 59, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.delete-annotation-form {
  display: inline;
}

